<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetrillion.trip.service.mapper.NoUserResMapper">
	
	<insert id="noUserResInsert">
		<![CDATA[
		INSERT INTO TRIL_NOUSERRESERVATION(res_seq, RES_PWD, PD_SEQ, PD_NAME, PD_STARTDATE, PD_ENDDATE,
		 ADULT_NUM, TEENAGER_NUM, PET_NUM, ADULT_PRICE, TEENAGER_PRICE, PET_PRICE, RES_PRICE, RES_PEOPLE,
		 RES_NAME, RES_BIRTH, RES_EMAIL, RES_COMMENT, RES_PHONE)
		values(RES_SEQ.nextVal,#{RES_PWD},#{PD_SEQ},#{PD_NAME},#{PD_STARTDATE},#{PD_ENDDATE},
		#{ADULT_NUM},#{TEENAGER_NUM},#{PET_NUM},#{ADULT_PRICE},#{TEENAGER_PRICE},#{PET_PRICE},#{RES_PRICE},#{RES_PEOPLE},
		#{RES_NAME},#{RES_BIRTH},#{RES_EMAIL},#{RES_COMMENT},#{RES_PHONE})
		]]>	
	</insert>
	
	<select resultType="com.onetrillion.trip.noUserRes.NoUserResDTO" id="noUserSelectAll">
		<![CDATA[
		 SELECT * FROM Tril_NOUSERRESERVATION ORDER BY res_seq ASC
		]]>
	</select>
	
</mapper>