<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetrillion.trip.service.mapper.NoUserResMapper">
	
	<insert id="noUserResInsert">
		<![CDATA[
		INSERT INTO TRIL_NOUSERRESERVATION(res_seq, RES_PWD, PD_SEQ, PD_NAME, PD_STARTDATE, PD_ENDDATE,
		 ADULT_NUM, TEENAGER_NUM, PET_NUM, ADULT_PRICE, TEENAGER_PRICE, PET_PRICE, RES_PRICE, RES_PEOPLE,
		 RES_NAME, RES_BIRTH, RES_EMAIL, RES_COMMENT, RES_PHONE)
		values(RES_SEQ.nextVal,#{res_pwd},#{pd_seq},#{pd_name},#{pd_startDate},#{pd_endDate},
		#{adult_num},#{teenager_num},#{pet_num},#{adult_price},#{teenager_price},#{pet_price},#{res_price},#{res_people},
		#{res_name},#{res_birth},#{res_email},#{res_comment},#{res_phone})
		]]>	
	</insert>
	
	<select resultType="com.onetrillion.trip.noUserRes.NoUserResDTO" id="noUserSelectAll">
		<![CDATA[
		 SELECT * FROM Tril_NOUSERRESERVATION ORDER BY res_seq ASC
		]]>
	</select>
	
	<select resultType="com.onetrillion.trip.noUserRes.NoUserResDTO" id="noUserSelectId">
		<![CDATA[
		SELECT * FROM Tril_NOUSERRESERVATION where res_email=#{res_email}
		]]>
	</select>
	
	
	
	<select resultType="com.onetrillion.trip.noUserRes.NoUserResDTO" id="noUserDetail"
	parameterType="map"
	>
		<![CDATA[
		select * from Tril_NOUSERRESERVATION where res_email=#{res_email} AND res_pwd=#{res_pwd}]]>
	</select>
	
	<select resultType="com.onetrillion.trip.noUserRes.NoUserResDTO" id="noUserResPaging">

		<![CDATA[
			SELECT res_seq,res_pwd, pd_seq, pd_name, pd_startDate, pd_endDate, adult_num, teenager_num, pet_num, adult_price, teenager_price, pet_price, res_price, res_people, res_name,
			res_birth, res_email, res_comment, res_phone
			FROM
			(
				SELECT res_seq, res_pwd, pd_seq, pd_name, pd_startDate, pd_endDate, adult_num, teenager_num, pet_num, adult_price, teenager_price, pet_price, res_price, res_people, res_name,
				res_birth, res_email, res_comment, res_phone,
				ROW_NUMBER() over(ORDER BY res_seq ASC) AS rn 
				FROM Tril_NOUSERRESERVATION
			) WHERE rn BETWEEN #{rowStart} AND #{rowEnd} ORDER  BY res_seq ASC 
	      ]]>
	</select>

	<select resultType="int" id="noUserResCount">
	
		<![CDATA[
		     select count(res_seq) from Tril_NOUSERRESERVATION where res_seq>0
      	]]>
	</select>
	
	<delete id="noUserResDelete">

		<![CDATA[
			delete from Tril_NOUSERRESERVATION where res_seq=#{res_seq}]]>
			
	</delete>

	
	
	
	
</mapper>