<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetrillion.trip.service.mapper.UserResMapper">

	<insert id="userResInsert">
		<![CDATA[
			INSERT INTO TRIL_USERRESERVATION(URES_SEQ, PD_SEQ, PD_NAME, PD_STARTDATE, PD_ENDDATE,
				 ADULT_NUM, TEENAGER_NUM, PET_NUM, ADULT_PRICE, TEENAGER_PRICE, PET_PRICE, RES_PRICE, RES_PEOPLE,
				 RES_NAME, RES_BIRTH, RES_EMAIL, RES_COMMENT, U_ID, RES_PHONE, REPLY_CHECK)
				values(URES_SEQ.nextVal,#{pd_seq},#{pd_name},#{pd_startDate},#{pd_endDate},
				#{adult_num},#{teenager_num},#{pet_num},#{adult_price},#{teenager_price},#{pet_price},#{res_price},#{res_people},
				#{res_name},#{res_birth},#{res_email},#{res_comment},#{u_id},#{res_phone}, #{reply_check})
		]]>
	</insert>
	
	<!-- 관리자용 수정 -->
	<update id="userResModify">
		<![CDATA[
		update Tril_USERRESERVATION set
		URES_SEQ =#{ures_seq }, pd_seq =#{pd_seq }, pd_name =#{pd_name }
		, pd_startDate =#{pd_startDate }, pd_endDate =#{pd_endDate } , adult_num=#{adult_num },teenager_num=#{teenager_num },pet_num=#{pet_num },
		adult_price=#{adult_price },teenager_price=#{teenager_price },pet_price=#{pet_price },res_price=#{res_price },res_people=#{res_people },
		res_name=#{res_name },res_birth=#{res_birth },res_email=#{res_email },res_comment=#{res_comment },u_id=#{u_id },res_phone=#{res_phone },reply_check=#{reply_check }
		where ures_seq=#{ures_seq}]]>
	</update>

	<select resultType="com.onetrillion.trip.userRes.UserResDTO" id="userSelectAll">
		<![CDATA[
		 SELECT * FROM Tril_USERRESERVATION ORDER BY ures_seq DESC
		]]>
	</select>
	
	<select resultType="com.onetrillion.trip.userRes.UserResDTO" id="userResDetail">
	
	<![CDATA[
	      select * from Tril_USERRESERVATION where ures_seq=#{ures_seq}]]>
	</select>
	<select resultType="com.onetrillion.trip.userRes.UserResDTO" id="userResPdDetail">
	
	<![CDATA[
	      select * from Tril_USERRESERVATION where pd_seq=#{pd_seq}]]>
	</select>

	<select resultType="com.onetrillion.trip.userRes.UserResDTO" id="userSelectId">
		<![CDATA[
		SELECT * FROM Tril_USERRESERVATION where u_id=#{u_id} ORDER BY ures_seq ASC
		]]>
	</select>
	
	<select resultType="com.onetrillion.trip.userRes.UserResDTO" id="userResPaging">

	<![CDATA[
		SELECT ures_seq, pd_seq, pd_name, pd_startDate, pd_endDate, adult_num, teenager_num, pet_num, adult_price, teenager_price, pet_price, res_price, res_people, res_name,
		res_birth, res_email, res_comment, u_id, res_phone, reply_check
		FROM
		(
			SELECT ures_seq, pd_seq, pd_name, pd_startDate, pd_endDate, adult_num, teenager_num, pet_num, adult_price, teenager_price, pet_price, res_price, res_people, res_name,
			res_birth, res_email, res_comment, u_id, res_phone, reply_check,
			ROW_NUMBER() over(ORDER BY ures_seq ASC) AS rn 
			FROM TRIL_USERRESERVATION
		) WHERE rn BETWEEN #{rowStart} AND #{rowEnd} ORDER  BY ures_seq ASC 
      ]]>
	</select>

	<select resultType="int" id="userResCount">
	
		<![CDATA[
		      select count(ures_seq) from Tril_USERRESERVATION where ures_seq>0
		      ]]>
	</select>
	
	<delete id="userResDelete">

		<![CDATA[
			delete from Tril_USERRESERVATION where ures_seq=#{ures_seq}]]>
			
	</delete>
	

	


</mapper>
